::selection {
	background: rgba(179, 212, 252, 0.41) none repeat scroll 0% 0%
}
::-moz-selection {
	background: rgba(179, 212, 252, 0.41) none repeat scroll 0% 0%
}

.container {
	min-height: 100%;
}

html {
	font-family: "Exo 2", sans-serif;
	font-size: 16px;
	font-weight: 700;
}

p {
	font-family: "Exo 2", sans-serif;
	font-weight: 700;
}

span {
	font-family: "Exo 2", sans-serif;
	font-weight: 700;
}

li {
	font-family: "Exo 2", sans-serif;
	font-weight: 700;
}

a {
	font-family: "Exo 2", sans-serif;
	font-weight: 700;
}


.full-wrapper {
}


.head-menu {
	position: absolute;
	display: inline-block;
	right: 50px;
	top: 80px;
	z-index: 5;
}

.head-menu.head-inner-page {
	top: 40px;
}

.head-menu .menu-ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.head-menu .menu-ul {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	padding-bottom: 5px;
}

.head-menu .menu-ul .menu-li:first-child {
	margin-left: 0;
}

.head-menu .menu-ul .menu-li {
	display: inline-block;
	margin-left: 35px;
}

.head-menu .menu-ul .menu-li a {
	-webkit-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-moz-transition: all .1s ease;
	transition: all .1s ease;

	display: inline-block;
	font-size: 20px;
	letter-spacing: 0.3px;
}

.head-menu .menu-ul .menu-li a:hover {
	color: #B7B7B7;
	-webkit-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);

	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.head-menu .menu-ul .menu-li .ask-question a:hover {
	color: #D4FF00 !important;
	-webkit-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);

	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.head-menu a {
	color: #fff;
	text-shadow: 1px 1px 1px #0600A0;

	text-decoration: none;
	font-weight: 400;
	font-size: 17px;
}

.ask-question {
	background: rgba(66, 76, 115, 0.5);
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 5px;
	color: #D4FF00 !important;
}

.ask-question a {
	color: #D4FF00;
}

.logo-top {
	letter-spacing: 0.3px;
	font-weight: 700;
	position: absolute;
	top: 5px;
	right: 50px;
	color: #fff;
	font-size: 36px;
	z-index: 5;
	text-shadow: 1px 1px #000;

	-webkit-transform: scaleY(1.5);
	-ms-transform: scaleY(1.5);
	-moz-transform: scaleY(1.5);
	transform: scaleY(1.5);

	white-space: nowrap;
	overflow: hidden;
}

.company-top {
	position: absolute;
	color: #fff;
	text-shadow: 1px 1px #000;
	font-size: 24px;
	left: 10px;
	top: 10px;

	-webkit-transform: scaleY(1.2);
	-ms-transform: scaleY(1.2);
	-moz-transform: scaleY(1.2);
	transform: scaleY(1.2);
}

@media only screen and (max-width : 670px) {

	.head-menu.head-inner-page {
		top: 55px;
	}

	.head-menu.head-inner-page .menu-ul .menu-li a {
		font-size: 17px;
	}
}

@media only screen and (max-width : 600px) {

	.logo-top {
		font-size: 26px;
	}

	.head-menu .menu-ul .menu-li a {
		font-size: 17px;
	}

	.head-menu {
		top: 48px;
	}

}

@media only screen and (max-width : 520px) {

	.logo-top {
		top: 115px;
		font-size: 22px;
		right: inherit;
		left: 18px;
	}

	.head-menu {
		right: 0;
		margin-right: 0;
		width: 100%;
		top: 10px;
		text-align: right;
	}

	.head-menu.head-inner-page {
		top: 10px;
	}

	.head-menu .menu-ul {
		width: 100%;
		height: 130px;
	}

	.head-menu .menu-ul .menu-li {
		display: block;
		line-height: 2;
		padding-right: 20px;
		font-size: 14px;
	}

	.head-menu .menu-ul .menu-li:first-child {
		margin-left: 25px;
		line-height: 2;
		padding-right: 20px;
	}

	.head-menu.head-inner-page .menu-ul .menu-li a {
		font-size: 17px;
	}

}

@media only screen and (max-width : 400px) {

	.logo-top {
		top: 120px;
		font-size: 18px;
	}

}



.index-slide0 {
	height: 100vh;
	background-position: center;
	background: url("/img/video-bg3-min.jpg") no-repeat center center /cover;;
}

.index-slide0-overlay {
	position: absolute;
	height: 100%;
	/*background: rgba(26, 111, 111, 0.1); */
	width: 100%;
}

.index-slide0-main-text {
	color: #fff;
	text-align: center;
	position: relative;
	margin-left: 6px;
	margin-right: 6px;

	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
	text-shadow: 1px 1px 1px #000;
}

.text-branding {
	font-size: 50px;
	font-weight: 700;
	cursor: default;
}

/* Video */

.video-bg {
	position: absolute;
	top: 100%;
	left: 100%;
	-webkit-transform: translateX(-100%) translateY(-100%);
	-ms-transform: translateX(-100%) translateY(-100%);
	-moz-transform: translateX(-100%) translateY(-100%);
	transform: translateX(-100%) translateY(-100%);
	min-width: 100%;
	min-height: 100%;
}

/* // Video */

.index-slide1 {
	height: 80vh;
	background: url("/img/cover7.jpg") no-repeat center center /cover;
	background-position: center;
	position: relative;
}

.index-slide1-overlay {
	position: absolute;
	height: 100%;
	background: rgba(3, 14, 1, 0.65);
	width: 100%;
}

.index-slide1-main-text {
	position: relative;
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	left: 0;
	right: 0;
	text-align: center;
	margin-left: 6px;
	margin-right: 6px;

	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

	text-shadow: 1px 1px 1px #000;
}

.index-slide1-main-text ul {
	text-align: left;
}
.index-slide1-main-text ul li {
	line-height: 1.7;
}

.index-slide2 {
	height: 80vh;
	background: url("/img/cover7.jpg") no-repeat center center /cover;
	background-position: center;
	position: relative;
}

.index-slide2-overlay {
	position: absolute;
	height: 100%;
	background: rgba(4, 19, 2, 0.65);
	width: 100%;
}

.index-slide2-main-text {
	position: relative;
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	left: 0;
	right: 0;
	text-align: center;
	margin-left: 6px;
	margin-right: 6px;

	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

	text-shadow: 1px 1px 1px #000;
}

.index-slide3 {
	background: url("/img/cover8.jpg") no-repeat center center /cover;
	background-position: center;
	position: relative;
}

.index-slide3-overlay {
	position: absolute;
	height: 100%;
	background: rgba(255, 255, 255, 0.65);
	width: 100%;
}

.index-slide3-main-text {
	position: relative;
	color: #000;
	font-size: 35px;
	font-weight: 700;
	left: 0;
	right: 0;
	text-align: center;
	margin-left: 6px;
	margin-right: 6px;

	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);

	text-shadow: 1px 1px 1px #fff;
}


footer {
	height: 100vh;
	background-color: #BCC6CC;
	background-position: center;
}

.footer-main-text0 {
	position: absolute;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	left:0;
	right: 0;
	text-align: left;

	padding: 20px;

	height: 35%;
	background: rgba(2, 0, 35, 0.6);
	z-index: 200;
	border-bottom: 1px solid rgba(2, 0, 35, 0.6);
}

.footer-contact-details {
	padding-top: 10px;
}

.footer-contact-details p {
	font-weight: 500 !important;
	line-height: 1.6;
}

.footer-contact-details span {
	padding-left: 5px;
	font-weight: 500 !important;
	line-height: 1.6;
}

.footer-contact-details a {
	font-weight: 500 !important;
	color: #fff;
}

.footer-contact-details a:hover {
	text-decoration: none;
}

.footer-contact-details i {
	width: 20px;
}

#map {
	width: 100%;
	height: 100%;
}

.logo-footer-text {
	font-weight: 700;
	font-size: 26px;
}

.contacts-text1 {
	font-size: 18px;
}

.contacts-text2 {
	font-size: 18px;
	padding-top: 10px;
}


@media only screen and (max-width: 600px) {

	.contacts-text1 {
		font-size: 14px;
		display: table-cell;
		width: 266px;
	}

	.contacts-text2 {
		font-size: 14px;
		display: table-cell;
	}

	.footer-contact-details {
		padding-top: 0px;
		width: inherit;
	}

}

@media only screen and (max-width: 520px) {

	.footer-main-text0 {
		height: 45%;
	}

	.footer-contact-details {
		padding-top: 10px;
	}

	.contacts-text1 {
		display: block;
		width: inherit;
	}

	.contacts-text2 {
		display: block;
		width: inherit;
	}

	.logo-footer-text {
		font-size: 22px;
	}

	.footer-main-text0 {
		padding-top: 8px;
	}

}

.border-bottom-aqua {
	border-bottom: 1px solid rgb(145, 224, 216);
	padding-bottom: 5px;
}

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 12px;
	right: 1%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	background: url("/img/arr-top.png") no-repeat 0px 0px;
}

#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
}

.clean {
	margin-bottom: 0px;
	margin-top: 0px;
}

.global-text {
	padding-bottom: 10px;
}

.color1 {
	color: rgb(219, 230, 103);
}

.center {
	text-align: center;
}

.h4 {
	font-size: 18px;
	font-weight: bold;
}

.down-link-container {
	z-index: 5;
	position: absolute;
	display: inline-block;
	bottom: 0;
	margin-bottom: 12px;
	left: 50%;
	margin-left: -16px;
}

.down-link-slides {
	color: #fff;
	text-shadow: 1px 1px 1px #0600A0;
	text-decoration: none;
	font-size: 50px;
}

.down-link {
	position: absolute;
	display: inline-block;
	z-index: 5;
	bottom: 2.5%;
	left: 50%;
	margin-left: -16px;
	color: rgba(245, 64, 30, 0.9);
	text-shadow: 1px 1px 1px #000;
	text-decoration: none;
	font-size: 50px;
}


.projects {
	height: 100%;
	width: 100%;
	max-width: 1024px;
	position: relative;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 25px;
}

.projects:before {
	display: table;
}

.projects-top {
	height: 115px;
	background: url("/img/cover6.jpg") no-repeat center center /cover;
	background-color: #BCC6CC;
	background-position: center;
}

.projects-top-overlay {
	position: absolute;
	height: 115px;
	background: rgba(4, 19, 2, 0.5);
	width: 100%;
}

.projects-h1 {
	color: #111;
	top: 28px;
	padding: 15px;
	border-radius: 10px;
}

.projects-h1 h1 {
	font-weight: 600 !important;
	font-size: 30px;
	text-align: center;
	position: relative;
}

.projects-wrapper {
}

.projects-imgs {
	margin-top: 25px;
	text-align: center;
	margin-left: 10px;
}

.projects-imgs .project-img img {
	width: 200px;
	margin-right: 10px;
	border: 2px solid #999;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
	vertical-align: top;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 10;
	background-color: #fff;
}

.projects-imgs .project-img img:hover {
	-webkit-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);

	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 12;
}

.modal-wrap {
	border: rgba(2, 0, 35, 0.6) solid 3px;
}

.modal-wrap h2 {
	text-align: center;
	margin: 5px;
	margin-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

.modal-wrap h3 {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.question_form {
	padding: 20px;
	font-weight: 400;
	text-align: center;
	padding-top: 10px;
}

.question_form input[type="text"]{
	width: 300px;
	
	color: #222;
	margin-bottom: 23px;
	padding: 12px 10px;
	outline: none;
	border: 1px solid #e8e8e8;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}
.question_form textarea {
	width: 300px;
	
	color: #222;
	resize: none;
	height: 100px;
	padding: 15px;
	margin-bottom: 10px;
	outline: none;
	border: 1px solid #e8e8e8;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
}
.question_form input[type=submit] {
	color: #222;
	padding: 13px 43px;
	font-size: 16px;
	cursor: pointer;
	font-weight: 500;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-ms-border-radius:5px;
	border: 1px solid rgba(245, 64, 30, 0.9);
	background:none;

	transition: 1.2s all;
	-webkit-transition: 1.2s all;
	-o-transition: 1.2s all;
	-ms-transition: 1.2s all;
	-moz-transition: 1.2s all;
}
.question_form input[type=submit]:hover {
	color: #ffffff;
	background: rgba(245, 64, 30, 0.9);
	border: 1px solid #fff;
	transition: 1.2s all;
	-webkit-transition: 1.2s all;
	-o-transition: 1.2s all;
	-ms-transition: 1.2s all;
	-moz-transition: 1.2s all;
}
.question_form input[type="email"] {
	width: 300px;

	color: #222;
	margin-bottom: 23px;
	padding: 12px 10px;
	outline: none;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.question_form label {
	color: #ff0000;
	margin-left: -12px;
	padding-right: 7px;
	vertical-align: top;
	display: inline-block;
	margin-top: 12px;
	width: 7px;
}

@media only screen and (max-width: 480px) {

	.question_form input[type="text"]{
		width: 180px;
	}

	.question_form input[type="email"] {
		width: 180px;
	}
	.question_form textarea {
		width: 180px;
	}

	.question_form label{
		float: left;
		margin-top: -23px;
		top: 35px;
		position: relative;
	}

}

.index-noslide {
	display: none;
}

.order_call_button {
	top: 45%;
	text-align: center;
	position: relative;
}

.order_call_button a {
	color: #fff;
	position: relative;
	padding: 10px 20px;
	border: double 2px rgba(245, 64, 30, 0.9);
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	overflow: hidden;
	z-index: 1;
	vertical-align: middle;
	text-decoration: none;
	margin: 0 auto;
	text-align: center;
	display: table;

	transition: 1.2s all;
	-webkit-transition: 1.2s all;
	-o-transition: 1.2s all;
	-ms-transition: 1.2s all;
	-moz-transition: 1.2s all;
}

.order_call_button a:hover{
	color: #ffffff;
	background: rgba(245, 64, 30, 0.9);
	transition: 1.2s all;
	-webkit-transition: 1.2s all;
	-o-transition: 1.2s all;
	-ms-transition: 1.2s all;
	-moz-transition: 1.2s all;
}