::selection {
	background: rgba(179, 212, 252, 0.41) none repeat scroll 0% 0%
}
::-moz-selection {
	background: rgba(179, 212, 252, 0.41) none repeat scroll 0% 0%
}

.container {
	min-height: 100%;
}

html {
	font-family: "Exo 2", "Play", sans-serif;
	font-size: 16px;
	font-weight: 700;
}

p {
	font-family: "Exo 2", "Play", sans-serif;
	font-weight: 700;
}

span {
	font-family: "Exo 2", "Play", sans-serif;
	font-weight: 700;
}

li {
	font-family: "Exo 2", "Play", sans-serif;
	font-weight: 700;
}

a {
	font-family: "Exo 2", "Play", sans-serif;
	font-weight: 700;
}


.full-wrapper {
}


.head-menu {
	position: absolute;
	display: inline-block;
	right: 50px;
	top: 35px;
	z-index: 5;
	margin-right: -5px;
}

.head-menu .menu-ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.head-menu .menu-ul {
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	padding-bottom: 5px;
}

.head-menu .menu-ul .menu-li:first-child {
	margin-left: 0;
}

.head-menu .menu-ul .menu-li {
	display: inline-block;
	margin-left: 35px;
}

.head-menu .menu-ul .menu-li a {
	-webkit-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-moz-transition: all .1s ease;
	transition: all .1s ease;

	display: inline-block;
	font-size: 1.25em;
	letter-spacing: 0.3px;
}

.head-menu .menu-ul .menu-li a:hover {
	color: #B7B7B7;
	-webkit-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);

	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.head-menu a {
	color: #fff;
	text-shadow: 1px 1px 1px #0600A0;

	text-decoration: none;
	font-weight: 400;
	font-size: 17px;
}

.logo-top {
	font-weight: 700;
	position: absolute;
	top: 5px;
	left: 18px;
	color: #fff;
	font-size: 40px;
	z-index: 5;

	-webkit-transform: scaleY(1.5);
	-ms-transform: scaleY(1.5);
	-moz-transform: scaleY(1.5);
	transform: scaleY(1.5);

	width: 370px;
	white-space: nowrap;
	overflow: hidden;
}

.gk {
	display: inline-block;
	font-size: 40px;
}

.logo-top.logo-small {
	font-size: 18px;
	top: 37px;
	width: 174px;
}

.gk.logo-small {
	font-size: 18px;
}

@media only screen and (max-width: 800px) {

	.logo-top {
		font-size: 18px;
		top: 37px;
		width: 174px;
	}

	.gk {
		font-size: 18px;
	}

	.logo-top.logo-small {
		font-size: 18px;
		top: 37px;
		width: 174px;
	}

}

@media only screen and (max-width : 532px) {

	.head-menu {
		right: 0;
		margin-right: 0;
		width: 100%;
		top: 15px;
		text-align: right;
	}

	.head-menu .menu-ul {
		width: 100%;
	}

	.head-menu .menu-ul .menu-li {
		display: block;
		line-height: 1.6;
		padding-right: 18px;
	}

	.head-menu .menu-ul .menu-li:first-child {
		margin-left: 25px;
		line-height: 1.6;
		padding-right: 18px;
	}

}

@media only screen and (max-width : 600px) {

	.logo-top {
		top: 32px;
	}

	.logo-top.logo-small {
		top: 32px;
	}

        .head-menu .menu-ul .menu-li a {
                font-size: 1em;
                letter-spacing: 0px;
        }

}



.index-slide0 {
	height: 100vh;
	background-position: center;
	background: url("/img/video3-bg.jpg") no-repeat center center /cover;;
}

.index-slide0-overlay {
	position: absolute;
	height: 100%;
	background: rgba(26, 111, 111, 0.1);
	width: 100%;
}

.index-slide0-main-text {
	color: #fff;
	text-align: center;
	position: relative;
	margin-left: 6px;
	margin-right: 6px;

	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 5;
}

.text-branding {
	font-size: 50px;
	font-weight: 700;
	cursor: default;
}

/* Video */

.video-bg {
	position: absolute;
	top: 100%;
	left: 100%;
	-webkit-transform: translateX(-100%) translateY(-100%);
	-ms-transform: translateX(-100%) translateY(-100%);
	-moz-transform: translateX(-100%) translateY(-100%);
	transform: translateX(-100%) translateY(-100%);
	min-width: 100%;
	min-height: 100%;
}

/* // Video */

.index-slide1 {
	height: 100vh;
	background: url("/img/cover12.jpg") no-repeat center center /cover;
	background-position: center;
	position: relative;
}

.index-slide1-overlay {
	position: absolute;
	height: 100%;
	background: rgba(4, 19, 2, 0.5);
	width: 100%;
}

.index-slide1-main-text {
	position: relative;
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	left: 0;
	right: 0;
	text-align: center;
	margin-left: 6px;
	margin-right: 6px;

	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.index-slide1-main-text ul {
	text-align: left;
}
.index-slide1-main-text ul li {
	line-height: 1.7;
}

.index-slide2 {
	height: 100vh;
	background: url("/img/cover7.jpg") no-repeat center center /cover;
	background-position: center;
	position: relative;
}

.index-slide2-overlay {
	position: absolute;
	height: 100%;
	background: rgba(4, 19, 2, 0.5);
	width: 100%;
}

.index-slide2-main-text {
	position: relative;
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	left: 0;
	right: 0;
	text-align: center;
	margin-left: 6px;
	margin-right: 6px;

	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}

.index-slide3 {
	height: 100vh;
	background: url("/img/cover8.jpg") no-repeat center center /cover;
	background-position: center;
	position: relative;
}

.index-slide3-overlay {
	position: absolute;
	height: 100%;
	background: rgba(4, 19, 2, 0.5);
	width: 100%;
}

.index-slide3-main-text {
	position: relative;
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	left: 0;
	right: 0;
	text-align: center;
	margin-left: 6px;
	margin-right: 6px;

	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}


footer {
	height: 100vh;
	background: url("/img/cover6.jpg") no-repeat center center /cover;
	background-color: #BCC6CC;
	background-position: center;
}

.footer-overlay {
	position: absolute;
	height: 100%;
	background: rgba(2, 0, 35, 0.8);
	width: 100%;
}

.footer-main-text0 {
	position: relative;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	left:0;
	right: 0;
	text-align: left;
	margin-left: 6px;
	margin-right: 6px;

	padding: 20px;

	height: 5%;
}

.footer-main-text1 {
	position: relative;
	color: #fff;
	font-size: 22px;
	font-weight: 400;
	left: 0;
	right: 0;
	text-align: left;
	margin-left: 6px;
	margin-right: 6px;

	padding: 20px;
}

.footer-main-text1 p {
	font-weight: 500 !important;
}

.footer-main-text1 a {
	font-weight: 500 !important;
}

.footer-main-text1 a {
	color: #fff;
}

.footer-main-text1 p {
	line-height: 1.6;
}

#map {
	width: 100%;
	height: 65%;
}

.logo-footer-text {
	font-weight: 700;
	display: table-cell;
	width: 100%;
}

.footer-menu {
	display: table-cell;
	right: 20px;
	position: relative;
}

.footer-menu a {
	-webkit-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-moz-transition: all .1s ease;
	transition: all .1s ease;

	display: inline-block;
}

.footer-menu a:hover {
	color: #B7B7B7;
	text-decoration: none;
	border-bottom: none;
	-webkit-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);

	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}

.footer-menu a {
	color: #fff;
	text-shadow: 1px 1px 1px #0600A0;

	text-decoration: none;
	border-bottom: 1px dashed #9D9CAA;
	padding-bottom: 2px;
	font-weight: 400;
	font-size: 17px;
}

.contacts-text1 {
	display: table-cell;
	width: 40%;
}

.contacts-text2 {
	display: table-cell;
	width: 40%;
}

.contats-text3 {
	padding-top: 14px;
}

@media only screen and (max-width : 768px) {
	.footer-main-text0 {
		height: 10%;
		top: -5px;
	}

	.footer-main-text1 {
		padding-top: 4px;
	}

	.logo-footer-text {
		display: inline-block;
	}

	.logo-footer-text.global-text {
		padding-bottom: 0px;
	}

	.footer-menu {
		display: inline-block;
		right: 0;
	}

	#map {
		height: 35%;
		width: 100%;
	}

	.contacts-text1 {
		width: 100%;
		display: inline-block;
	}

	.contact-text2 {
		width: 100%;
		display: inline-block;
	}
}

.border-bottom-aqua {
	border-bottom: 1px solid rgb(145, 224, 216);
	padding-bottom: 5px;
}

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 12px;
	right: 1%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	background: url("/img/arr-top.png") no-repeat 0px 0px;
}

#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
}

.clean {
	margin-bottom: 0px;
	margin-top: 0px;
}

.global-text {
	padding-bottom: 10px;
}

.color1 {
	color: rgb(219, 230, 103);
}

.center {
	text-align: center;
}

.h4 {
	font-size: 18px;
	font-weight: bold;
}

.down-link-container {
	z-index: 5;
	position: absolute;
	display: inline-block;
	bottom: 0;
	margin-bottom: 12px;
	left: 50%;
	margin-left: -16px;
}

.down-link-slides {
	color: #fff;
	text-shadow: 1px 1px 1px #0600A0;
	text-decoration: none;
	font-size: 50px;
}

.down-link {
	position: absolute;
	display: inline-block;
	z-index: 5;
	bottom: 2.5%;
	left: 50%;
	margin-left: -16px;
	color: #fff;
	text-shadow: 1px 1px 1px #0600A0;
	text-decoration: none;
	font-size: 50px;
}


.projects {
	height: 100%;
	height: 100%;
	width: 100%;
	max-width: 1024px;
	position: relative;
	margin: 0 auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

.projects:before {
	display: table;
}

.projects-top {
	height: 100px;
	background: url("/img/cover6.jpg") no-repeat center center /cover;
	background-color: #BCC6CC;
	background-position: center;
}

.projects-top-overlay {
	position: absolute;
	height: 100px;
	background: rgba(4, 19, 2, 0.5);
	width: 100%;
}

.projects-h2 {
	font-size: 1.7em;
	color: #111;
	top: 28px;
	padding: 15px;
	border-radius: 10px;
}

.projects-h2 p {
	font-weight: 500 !important;
}

.projects-h2 p {
	position: relative;
}

.projects-wrapper {
}

.projects-imgs {
	margin-top: 25px;
	text-align: center;
	margin-left: 10px;
}

.projects-imgs .project-img img {
	width: 200px;
	margin-right: 10px;
	border: 2px solid #999;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
	vertical-align: top;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 10;
	background-color: #fff;
}

.projects-imgs .project-img img:hover {
	-webkit-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);

	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	z-index: 12;
}
